@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary-color: rgba(0,0,0,.8);

$standard-font: 'Bebas Neue', cursive;
$title-font: 'Bebas Neue', cursive;

html,
body {
	padding: 0px;
	margin: 0;
	height: 100%;
	background-color: yellowgreen;
	display: flex;
	flex-direction: column;
}

nav {
	background-color: white;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $standard-font;
	img {
		height: 85px;
	}
	h1 {
		margin: 0 12px;
		font-size: 1em;
	}
}

main {
	flex-grow: 1;
	.content {
		font-family: sans-serif;
		height: 95%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 24px;
		.app-details-container {
			box-shadow: 2px 2px 2px rgba(0,0,0,.2);
			border-radius: 8px;
			width: 250px;
			height: 350px;
			background-color: white;
			overflow: hidden;
			cursor: pointer;
			a:link {
				text-decoration: none !important;
			}
			.app-details-title {
				padding: 12px;
				color: rgba(0,0,0,.8);
				margin: 4px 0;
			}
			.app-details-subtitle {
				color: grey;
				padding: 0 12px;
				font-size: .8em;
			}
			.app-details-image {
				width: 100%;
				padding: 8px
			}
		}
		.app-content {
			background-color: rgba(255,255,255, .8);
			box-shadow: 2px 2px 2px rgba(0,0,0,.2);
			width: 100%;
			padding: 24px;
			.info-field {
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				align-items: center;
				width: 100%;
				h2 {
					width: 100%;
					font-family: $standard-font;
				}
			}
		}
	}
}

.survey-container {
	width: 100%;
	text-align: center;
}

footer {
	height: 50px;
	background-color: rgba(0,0,0,.5);
	color: white;
	font-family: $standard-font;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	a {
		text-decoration: none;
		color: white;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.info-field {
		h2 {
			width: 100%;
			font-size: .8em;
		}
		span {
			width: 100%;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	nav {
		h1 {
			font-size: 1.6em;
		}
	}
	.info-field {
		h2 {
			width: 100%;
			font-size: .8em;
		}
		span {
			width: 100%;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.info-field {
		h2 {
			width: 25%;
			font-size: 1.6em;
		}
		span {
			width: 75%;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.info-field {
		h2 {
			width: 25%;
			font-size: 1.6em;
		}
		span {
			width: 75%;
		}
	}
}
